@model dyplomowaApka00.Models.Dom

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Dom</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Inwestycja.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inwestycja.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymbolDomu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymbolDomu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Powerzchnia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Powerzchnia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pokoje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pokoje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Garaz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Garaz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiejscePostojowe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiejscePostojowe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KomorkaLokatorska)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KomorkaLokatorska)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TerminRealizacji)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TerminRealizacji)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageFile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DodatkoweInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DodatkoweInfo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
