@model dyplomowaApka00.Models.EmailFormModel

<section class="mbr-section form3 cid-qOKEbD9L00 mbr-parallax-background" id="form3-1p">
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="align-center pb-2 mbr-fonts-style display-2">Zadzwonimy do Ciebie</h2>
                <h3 class="mbr-section-subtitle align-center pb-5 mbr-light mbr-fonts-style display-5">Zostaw nam swój numer — oddzwonimy do Ciebie z ofertą</h3>
            </div>
        </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row py-2 justify-content-center">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.FromPhone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FromPhone)
                </div>
                <div class="col-md-2">
                    <input type="submit" class="btn btn-default" value="WYŚLIJ" />
                </div>
            </div>
        </div>
    }

        @*Formularz
        <div class="row py-2 justify-content-center">
            <div class="col-12 col-lg-6  col-md-8 " data-form-type="formoid">
                <div data-form-alert="" hidden="">Dziękujemy! Skontaktujemy się z Tobą jak najszybciej</div>
                <form class="mbr-form" action="" method="post" data-form-title="Mobirise Form">
                    <input type="hidden" data-form-email="true" value="7xhPyPvU1pOIsovfjgk0HyRxEIonHx2n4tWtJ0Bye0p0EwWK87mA1RlhLJjIc9CLxo/palBFvcR9MaVQAPgNdqtNzHhj7A6x0GT04T2hLnr1I09mHEPfmyn2ZXU5eptc">
                    <div class="mbr-subscribe input-group">
                        <input class="form-control" type="tel" name="email" placeholder="Numer telefonu (9 cyfr)" data-form-field="Email" required="" id="email-form3-1p">
                        <span class="input-group-btn"><button href="" type="submit" class="btn btn-primary display-4">PRZEŚLIJ NUMER</button></span>
                    </div>
                </form>
            </div>
        </div>
        Formularz stop*@
    </div>
</section>

<section class="cid-qw37E2a6Ed" id="footer1-10" data-rv-view="1070">

    <div class="container">
        <div class="media-container-row content text-white">
            
            <div class="col-12 col-md-4 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Adres
                </h5>
                <p class="mbr-text">
                    Biuro czynne od poniedziełku do piątku<br />w godzinach 8:00—16:00
                </p>
                <p class="mbr-text">
                    ul. Przyjazna 1
                    <br>Wróblowice 55-330
                </p>
            </div>
            <div class="col-12 col-md-4 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Kontakt
                </h5>
                <p class="mbr-text">
                    Email: sprzedaz@sogo.pl
                    <br>Biuro: +48 (71) 707 00 60
                    <br>Mobile: +48 783 18 38 38
                </p>
            </div>
            <div class="col-12 col-md-4 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Zobacz też
                </h5>
                <p class="mbr-text">
                    <a class="text-primary kontakt" href="#kontakt">Facebook</a>
                    <br><a class="text-primary kontakt" href="#kontakt">YouTube</a>
                    <br><a class="text-primary kontakt" href="#kontakt">Inne linki</a>
                </p>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                    &copy; @DateTime.Now.Year Ablab.pl
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right">
                        
                        <div class="soc-item">
                            <a href="" target="_blank">
                                <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="" target="_blank">
                                <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                            </a>
                        </div>
                        
                        <div class="soc-item">
                            <a href="" target="_blank">
                                <span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("_LoginPartial")
    </div>
</section>