@model IEnumerable<dyplomowaApka00.Models.Mieszkanie>


<section class="section-table cid-qvZiwymKFt" id="table1-n" data-rv-view="1454">

    <div class="container container-table">
        <h2 class="mbr-section-title mbr-fonts-style align-center pb-3 display-2">
            Tabela mieszkań
        </h2>
        <h3 class="mbr-section-subtitle mbr-fonts-style align-center pb-5 mbr-light display-5">
            Zobacz wszystkie mieszkania w ofercie
        </h3>
        @*<p class="mbr-section-subtitle mbr-fonts-style align-center pb-5 mbr-light display-7">
        @if (HttpContext.Current.Request.Url.AbsoluteUri.Contains("ukryj"))
        {
            @Html.ActionLink("Pokaż niedostępne", "MieszkaniaZInwestycji", new { niedostepne = ViewBag.UkryjPokaz })
        }
        else
        {
            @Html.ActionLink("Ukryj niedostępne", "MieszkaniaZInwestycji", new { niedostepne = ViewBag.UkryjPokaz })
        }
    </p>*@
        <div class="table-wrapper">
            <div class="container">

            </div>
            <div class="container scroll">
                <table class="table table-striped table-hover" cellspacing="0">
                    <thead>
                        <tr class="table-heads">                          
                            
                            <th class="head-item mbr-fonts-style display-7">
                                @Html.DisplayNameFor(model => model.SymbolMieszkania)
                            </th>
                            @* Status wyleciał -- teraz jest wyświetlana cena tylko gdy status == 1 --- inaczej wyświetla niedostępność
    <th class="head-item mbr-fonts-style display-7">
        @Html.DisplayNameFor(model => model.Status.Nazwa)
    </th>
                            *@
                            <th class="head-item mbr-fonts-style display-7">
                                @Html.DisplayNameFor(model => model.Cena)
                            </th>
                            <th class="head-item mbr-fonts-style display-7">
                                Piętro
                            </th>
                            <th class="head-item mbr-fonts-style display-7">
                                @Html.DisplayNameFor(model => model.Powierzchnia)
                            </th>
                            <th class="head-item mbr-fonts-style display-7">
                                @Html.DisplayNameFor(model => model.Pokoje)
                            </th>
                            <th class="head-item mbr-fonts-style display-7">
                                @Html.DisplayNameFor(model => model.TerminRealizacji)
                            </th>
                            <th class="head-item mbr-fonts-style display-7">
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            
                            <td class="body-item mbr-fonts-style display-7">
                                @Html.DisplayFor(modelItem => item.SymbolMieszkania)
                            </td>
@*<!--tutaj nastepuje zmiana koloru tła zależnie od statusu-->
    @if (item.Status.StatusId == 1)
    {
        <td class="body-item mbr-fonts-style display-7 wolne">
            @Html.DisplayFor(modelItem => item.Status.Nazwa)
        </td>
    }
    else if (item.Status.StatusId == 2)
    {
        <td class="body-item mbr-fonts-style display-7 rezerwacja">
            @Html.DisplayFor(modelItem => item.Status.Nazwa)
        </td>
    }
    else if (item.Status.StatusId == 4)
    {
        <td class="body-item mbr-fonts-style display-7 sprzedane">
            @Html.DisplayFor(modelItem => item.Status.Nazwa)
        </td>
    }
    else
    {
        <td class="body-item mbr-fonts-style display-7">
            @Html.DisplayFor(modelItem => item.Status.Nazwa)
        </td>
    }
    <!--koniec zmiany tła-->*@
                            <!--ukrycie ceny jeśli status inny niż Wolne-->
                            @if (item.Status.StatusId == 1)
                            {
                                <td class="body-item mbr-fonts-style display-7 wolne">
                                    @Html.DisplayFor(modelItem => item.Cena)
                                </td>
                            }
                            else if (item.Status.StatusId == 3)
                            {
                                <td class="body-item mbr-fonts-style display-7 rezerwacja">
                                    @Html.DisplayFor(modelItem => item.Status.Nazwa)
                                </td>
                            }
                            else if (item.Status.StatusId == 4)
                            {
                                <td class="body-item mbr-fonts-style display-7 sprzedane">
                                    @Html.DisplayFor(modelItem => item.Status.Nazwa)
                                </td>
                            }
                            else
                            {
                                <td class="body-item mbr-fonts-style display-7">
                                    @Html.DisplayFor(modelItem => item.Status.Nazwa)
                                </td>
                            }
                            <!--koniec ukrycia ceny-->
                            <td class="body-item mbr-fonts-style display-7">
                                @Html.DisplayFor(modelItem => item.Poziom)
                            </td>
                            <td class="body-item mbr-fonts-style display-7">
                                @Html.DisplayFor(modelItem => item.Powierzchnia)
                            </td>
                            <td class="body-item mbr-fonts-style display-7">
                                @Html.DisplayFor(modelItem => item.Pokoje)
                            </td>
                            <td class="body-item mbr-fonts-style display-7">
                                @Html.DisplayFor(modelItem => item.TerminRealizacji)
                            </td>
                            <td class="body-item mbr-fonts-style display-7">
                                @Html.ActionLink("Szczegóły", "Details", new { id = item.MieszkanieId })
                            </td>
                       </tr>
                    }
                    </tbody>
                </table>
            </div>
            <div class="container table-info-container">

            </div>
        </div>
    </div>
</section>

